body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#details {
    position: fixed;
    height: 100px;
    background: transparent;
    color: cadetblue;
    padding-left: 10px;
    top: 10px;
}

#details .title {
    color: slategray;
    font-size: small;
}

#locate {
    background: #3887be;
    font-size: 13px;
    color: white;
    width: 110px;
    height: 30px;
    position: fixed;
    right: 50px;
    top: 10px;
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

.mapboxgl-popup {
    max-width: 250px;
}

.mapboxgl-popup-content {
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

#button {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 10px;
    border-radius: 3px;
    width: 150px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}
    
#button a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}
    
#button a:last-child {
    border: none;
}
    
#button a:hover {
    background-color: #f8f8f8;
    color: #404040;
}
    
#button a.active {
    background-color: #3887be;
    color: #ffffff;
}
    
#button a.active:hover {
    background: #3074a4;
}

.session {
    margin-bottom: 20px;
}

.row {
    height: 12px;
    width: 100%;
}

.colors {
    background: linear-gradient(to right, rgb(33,102,172), rgb(103,169,207), rgb(209,229,240), rgb(253,219,199), rgb(239,138,98), rgb(178,24,43));
    margin-bottom: 5px;
}

.label {
    width: 15%;
    display: inline-block;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

h1 {
    font-size: 20px;
    line-height: 30px;
}

h2 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #2dc4b2;
}

#console {
    position: absolute;
    display: block;
    width: 240px;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 10px 20px;
    background-color: rgba(80,80,80,0);
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

hr {
  margin-top: 7px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-top-width: 1px;
  border-top-style: 'solid';
  border-top-color: '#333';
}

.descriptionPanel {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    width: 300px;
    height: 40px;
    background: rgba(80,80,80,.75);
    transition: width 2s, height 2s;
    overflow: hidden;
    border-radius: 7px;
}

#glyph {
    position: relative;
    margin-left: 45%;
}